
    

<div class="command"> 
<h1>List of Product items</h1>
<mat-grid-list cols="3" rowheight="500px">
  <mat-grid-tile *ngFor="let product of products" class="cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      </mat-card-header>
      <img class="prod"
        mat-card-img src="{{product.images[0] }}" />
      <mat-card-content>
        <p>{{ product.description }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button (click)="getprod($event, product)" class="btn" mat-button routerLink="/prod">Details></button>
        <button class="btn" mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>

